# Interface config
auto lo
iface lo inet loopback
    address 1.1.1.12/32

auto swp1
iface swp1
    address 10.0.0.3/31

auto swp2
iface swp2
    address 10.0.0.7/31

# FRR daemons
bgpd=yes

# BGP config
router bgp 65002
 bgp router-id 1.1.1.12
 neighbor 10.0.0.2 remote-as 65000
 neighbor 10.0.0.6 remote-as 65000
 network 1.1.1.12/32

# Linux forwarding
net.ipv4.ip_forward=1
